body {
    background-color: lightgray;
}

.main-image {      
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 30%;
    float: left;
}
.four-blocker {
    text-align: center;
}

.side-image {
    color:white;
    width: 140px;
    height: 140px;
}

.text-left {
    color:rgb(52, 133, 136);
    font-weight: bold;
}

.navbar-brand {
    background-color: rgb(52, 133, 136);
    color: white;
}




